<!DOCTYPE html>
<html>
<head>
  <% include partials/header.ejs %>
  <title><%= postTitle %></title>
</head>
<body>
  <% include partials/nav.ejs %>
  
  <h1><%= postTitle %></h1>
  <%= postBody %>
  </br>

  <form method="POST" action="/posts/<%= postSlug %>">
    <input type="submit" value="Delete Post" />
  </form>
  
  <form action="/update/<%= postSlug %>">
    <input type="submit" value="Edit" />
  </form>
</body>
</html>
